h2 {
    margin-left: 10px;
}
a:hover { 
    color:red;
}
html {
    background: linear-gradient(cyan, blue, #8803fc, #fc03a5)  
}
#index{
    background-color: white;
    border: 1px solid black;
}
#Hey {
    margin-top: 50%;
}